<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>KEC | <%= title %></title>
    <style>
      body{
      background-color: papayawhip;
    }

    </style>
  </head>
  <body>
    <div class="container">
    <button type="button" class="btn btn-info" data-toggle="collapse"  data-target="#demo">About</button type="button">
    <br />
    <h4 id="demo" class="collapse in"
    >
      <b>Value Added Courses / Online Courses / Self Study Courses </b> <br> <br>
           The candidates may optionally undergo Value Added Courses / Online Courses
      / Self Study Courses as elective courses. <br><br>
      <b>4.4.1 Value Added Courses:</b><br><br>
            Value Added courses each with One / Two credits shall be offered by the
      college with the prior approval from the respective Board of Studies. A
      candidate can earn a maximum of six credits through value added courses
      during the entire duration of the programme. <br><br>
      <b> 4.4.2 Online Courses:</b><br> <br>
            Candidates may be permitted to earn credits for online courses, offered by
      NPTEL / SWAYAM / a University / Other Agencies, approved by respective
      Board of Studies. <br><br><br>
      <b>4.4.3 Self Study Courses:</b> <br><br>
            The Department may offer an elective course as a self study course. The
      syllabus of the course shall be approved by the respective Board of
      Studies. However, mode of assessment for a self study course will be the
      same as that used for other courses. The candidates shall study such
      courses on their own under the guidance of member of the faculty following
      due approval procedure. Self study course is limited to one per semester.
      
      <br><br>     The elective courses in the final year may be exempted if a
        candidate earns the required credits vide clause 4.4.1, 4.4.2 and 4.4.3 by
        registering the required number of courses in advance. <br><br>
           A candidate
        can earn a maximum of 30 credits through all value added courses, online
        courses and self study courses.  <br><br><br>
    
    </h4> <br><br>
    <a href="/"><button type="button" class="btn btn-info">Back</button></a>

  </div>
  </body>
</html>
