<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>civil</title>
  </head>
  <body>
    <div class="navbar">
      <div class="icon">
        <h2></h2>
      </div>

      <div class="menu">
        <ul>
          <li><a href="/">HOME/ELECTIVE COURSES</a></li>

          <li><a href="/about">ABOUT</a></li>
          <li>
            <a href="https://kongu.ac.in/feedback.php" target="_blank"
              >FEEDBACK</a
            >
          </li>
        </ul>
      </div>
    </div>
    <br /><br />
    <br /><br />
    <center><h3>Semister VII</h3></center>
    <table border="1px">
      <tr>
        <th>S.NO</th>
        <th>ELECTIVE</th>
        <th>PROFESSIONAL ELECTIVE</th>
        <th>CREDITS</th>
      </tr>
      <tr>
        <td rowspan="6">1</td>
        <td rowspan="6">Professional Elective-II</td>
        <td>Advanced Structural Analysis</td>
        <td rowspan="6">3</td>
      </tr>
      <tr>
        <td>Contract Management</td>
      </tr>
      <tr>
        <td>Environmental Impact Assessment</td>
      </tr>
      <tr>
        <td>Public Transportation Systems</td>
      </tr>
      <tr>
        <td>Environmental Geo-technology</td>
      </tr>
      <tr>
        <td>Engineering Geology</td>
      </tr>

      <tr>
        <td rowspan="7">2</td>
        <td rowspan="7">Professional Elective-III</td>
        <td>Advanced Steel Design</td>
        <td rowspan="7">3</td>
      </tr>
      <tr>
        <td>Architecture and Town Planning</td>
      </tr>
      <tr>
        <td>Air and Noise Pollution Control Engineering</td>
      </tr>
      <tr>
        <td>Public Transportation Systems</td>
      </tr>
      <tr>
        <td>Environmental Geo-technology</td>
      </tr>
      <tr>
        <td>Engineering Geology</td>
      </tr>
      <tr>
        <td>Engineering Geology</td>
      </tr>

      <tr>
        <td rowspan="7">3</td>
        <td rowspan="7">Professional Elective-III</td>
        <td>Advanced Steel Design</td>
        <td rowspan="7">3</td>
      </tr>
      <tr>
        <td>Architecture and Town Planning</td>
      </tr>
      <tr>
        <td>Air and Noise Pollution Control Engineering</td>
      </tr>
      <tr>
        <td>Public Transportation Systems</td>
      </tr>
      <tr>
        <td>Environmental Geo-technology</td>
      </tr>
      <tr>
        <td>Engineering Geology</td>
      </tr>
      <tr>
        <td>Engineering Geology</td>
      </tr>

      <tr>
        <td rowspan="7">4</td>
        <td rowspan="7">Professional Elective-III</td>
        <td>Advanced Steel Design</td>
        <td rowspan="7">3</td>
      </tr>
      <tr>
        <td>Architecture and Town Planning</td>
      </tr>
      <tr>
        <td>Air and Noise Pollution Control Engineering</td>
      </tr>
      <tr>
        <td>Public Transportation Systems</td>
      </tr>
      <tr>
        <td>Environmental Geo-technology</td>
      </tr>
      <tr>
        <td>Engineering Geology</td>
      </tr>
      <tr>
        <td>Engineering Geology</td>
      </tr>
    </table>
  </body>
  <style>
    .main {
      width: auto;
    }

    .navbar {
      width: auto;
      height: auto;
      background-color: lightslategrey;
      margin: 0%;
    }

    .menu {
      width: 100%;
      float: left;
      height: 70px;
      background-color: rgb(65, 66, 120);
      box-shadow: #fff;
    }

    ul {
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ul li {
      list-style: none;
      margin-left: 55px;
      margin-top: 27px;
      font-size: 14px;
    }
    ul li a {
      text-decoration: none;
      color: #fff;
      font-family: Arial;
      font-weight: bold;
      transition: 0.4s ease-in-out;
    }

    ul li a:hover {
      color: #ff7200;
    }

    body {
      background-color: rgb(135, 162, 162);
      margin-top: 2%;
    }

    table {
      width: 80%;
    }
    table td,
    a {
      height: 25px;
      text-decoration: none;
      color: rgb(83, 80, 80);
      font-family: Arial;
      font-weight: bold;
    }
    table a:hover {
      color: #ff7200;
    }
  </style>
</html>
