<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KEC |</title>
  </head>
  <body>
    <div class="navbar">
      <div class="icon">
        <h2></h2>
      </div>

      <div class="menu">
        <ul>
          <li><a href="/">HOME/REGULATION</a></li>

          <li><a href="/about">ABOUT</a></li>
          <li>
            <a href="https://kongu.ac.in/feedback.php" target="_blank"
              >FEEDBACK</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="ol">
      <ol>
        <li><a href="/2018">Regulation 2018</a></li>
        <li><a href="/2020">Regulation 2020</a></li>
        <li><a href="/2022">Regulation 2022</a></li>
      </ol>
    </div>
  </body>

  <style>
    .main {
      width: auto;

      background-position: center;

      height: 100%;
    }

    .navbar {
      width: auto;
      height: auto;
      margin: auto;
      background-color: lightslategrey;
    }

    .menu {
      width: 100%;
      float: left;
      height: 70px;
      background-color: rgb(65, 66, 120);
      box-shadow: #fff;
    }

    ul {
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ul li {
      list-style: none;
      margin-left: 55px;
      margin-top: 27px;
      font-size: 14px;
    }
    ul li a {
      text-decoration: none;
      color: #fff;
      font-family: Arial;
      font-weight: bold;
      transition: 0.4s ease-in-out;
    }

    ul li a:hover {
      color: #ff7200;
    }
    .ol {
      color: aliceblue;
      font-family: Arial;
      font-weight: bold;
      display: inline-flex;
    }
    .ol a {
      text-decoration: none;
    }
    .ol a:hover {
      color: #ff7200;
    }
  </style>
</html>
